asgiref
astroid
colorama
dill
Django
django-bower
djongo
dnspython
isort
lazy-object-proxy
mccabe
Pillow
platformdirs
psycopg2
pylint
pylint-django
pylint-plugin-utils
pymongo==4.5.0
pytz
six
sqlparse
tomli
tomlkit
typed-ast
typing_extensions
wincertstore
wrapt
matplotlib
pandas
django-mathfilters
djangorestframework
psycopg2
numpy
pyserial
PyVISA
visa
nidaqmx
mpld3
