* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat-Regular", Helvetica;

}


.footer {
  background-color: rgba(60, 56, 52, 0.9);
  color: white;
  padding: 27px 40px;
  text-align: center;
  font-size: 18px; 
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold; 
  z-index: -1;
  transition: margin-left 0.3s;
  margin-left: 80px;
}
.sidebar:hover ~ .footer {
  margin-left: 230px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}


main {
  flex-grow: 1;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(60, 56, 52, 0.95);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.sidebar-item {
  text-decoration: none; 
  color: white;
  padding: 20px 15px; 
  width: 100%;
  text-align: center;
  transition: background-color 0.3s;
  align-items: center;

}

.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}


.sidebar {
  width: 80px;
  transition: width 0.3s;
}

.sidebar:hover {
  width: 230px; 
}

.sidebar-text {
  display: none;
  margin-left: 10px;
  transition: opacity 0.3s;
}


.sidebar:hover .sidebar-text {
  display: inline;
}

.user-avatar, .user-avatar2 {
  height: initial;
  max-width: none;
  }

.sidebar:not(:hover) .sidebar-item {
  padding-left: 0;
  justify-content: center;
}
.user-section {
  padding: 20px 15px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.user-avatar {
  width: 60px !important;
  height: 60px !important;
  border-radius: 50% !important; 
  margin-bottom: 10px !important;
}
.user-avatar2 {
  width: 185px !important;
  height: 75px !important;
  margin-bottom: 10px !important;
}

.sidebar .sidebar-item:hover {
  text-decoration: none;
  outline: none;
  border: none;
}

.sidebar-item span, 
.sidebar-item .sidebar-text {
  color: #9E9E9E;
}

.sidebar-item {
  text-decoration: none;
  color: white;
}

html body {
  background-color: #E9E9E9;
}
.sidebar-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 550; 
}
.sidebar-item .sidebar-text {
  font-size: 14px;
}

.sidebar-item:last-child {
  margin-top: auto; 
}

.sidebar-item:last-child:hover {
  background-color: red; 
}


.user-avatar-collapsed {
    display: block;
}
.user-avatar-expanded {
    display: none;
}

.sidebar:hover .user-avatar-collapsed {
    display: none;
}
.sidebar:hover .user-avatar-expanded {
    display: block;
}



