#greeting-container {
    text-align: center; 
    margin-left: 245px;
    padding: 20px 0;
}
.flatpickr-calendar .numInputWrapper,
.flatpickr-calendar .flatpickr-days {
    font-size: 0.85em;
}

.flatpickr-calendar .flatpickr-day {
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.flatpickr-current-month .numInputWrapper {
    height: 28px;
    line-height: 28px;
}

.flatpickr-current-month .cur-year {
    font-size: 1.5em;
}
#calendar-icon {
    margin: 0;
    transform: translateY(-2px); 
}
#date-container {
    padding-right: 30px; 
}


#frases-motivadoras-container h2 {
    font-size: 0.9em; 
    margin-top: -40px; 
    margin-left: 247px; 
    padding: 20px 0;
}

  

#contenido-adicional {
    background-color: white;
    border-radius: 20px; 
    margin-top: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 


    font-size: 14px;
    line-height: 1.5;
    
    max-width: 800px;
    margin-left: 245px;
        padding: 23px 0;
}

#contenido-adicional h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.dashboard-content {
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.dashboard-item {
    flex: 1;
    text-align: left;
    border-right: 2px solid #ECECEE;
    padding: 0 15px;
    display: flex; 
    flex-direction: column; 
}

.dashboard-item i {
    margin-right: 20px;
}

.dashboard-item:last-child {
    border-right: none;
}

.dashboard-icon {
    margin-right: 20px;
    margin-bottom: 25px;
    font-size: 24px;
}

.dashboard-fluid-title {
    text-align: center;
    font-size: 15px;
    margin-top: -12px; 
    color: #92959E;
    margin-bottom: 10px;

}

#dashboard-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.total-fluidos {
    text-align: center;
    font-size: 14px; 
    margin-top: -35px;
}
.icon-container {
    display: inline-block;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #FFF2E9;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  

  


.icon-container i {
    vertical-align: middle;
    margin: 0 auto;
}

.icon-container-user  {
    display: inline-block;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #EAF9FF; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.icon-container-user i {    
    vertical-align: middle;     
    margin: 0 auto;     
}   

.icon-container-exp  {  
    display: inline-block;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #EDE8FF; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.icon-container-exp i {
    vertical-align: middle; 
    margin: 0 auto; 
}

.icon-container-login {
    display: inline-block;
    padding: 10px; 
    width: 50px; 
    height: 50px; 
    border-radius: 10px; 
    background-color: #FFEBEF; 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.icon-container-login i {
    vertical-align: middle; 
    margin: 0 auto; 
}

.recent-activity {
    height: 220px;

    float: right; 
    margin-right: 13px;
    margin-top: 34px; 
    width: 30%; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    padding: 10px; 
    border-radius: 20px;
    background-color: #FFFFFF;
 
}


.recent-activity h3 {
    
    margin-top: 0;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.recent-activity ul {
    list-style-type: none;
    padding: 0;
}

.recent-activity li {
    font-size: 14px;
    margin-bottom: 8px;
}

.recent-activity li {
    font-size: 14px;
    margin-bottom: 12px; 
    padding-left: 28px;
    position: relative; 
    transition: transform 0.2s ease; 
}

.recent-activity li:hover {
    transform: translateX(10px); 
}

.recent-activity li:before {
    content: "\1F553"; 
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.fluidos-link:hover .dashboard-item {
    background-color: #F5F5F5; 
    transform: scale(1.03); 
    transition: transform 0.3s ease, background-color 0.3s ease; 
    cursor: pointer; 
}
#chartContainer {

    display: block; 
    width: 800px;
    height: 410px; 
    margin: 20px;
    background-color: white;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-left: 245px;
    margin-top: -105px; 
    


  }
  
  #userActivityChart {
    width: 100% !important; 
    height: 100% !important; 
    object-fit: cover; 
  }
  .team-container {
    background-color: white;
    border-radius: 20px;
    width: 30%; 
    height: 255px;
    position: absolute;
    bottom: 50px; /* Espacio desde abajo */
    right: 13px; /* Espacio desde la derecha */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    top: 370px;

  }
  

  .team-container h3 {
    margin-top: 0;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
}
.icon-container-crown {
    width: 80%;     
    height: 75px;
    border-radius: 15px; 
    display: flex;
    align-items: center;
    padding-left: 45px; 
    margin: 0 auto 15px; 
    border: 3px solid #311D05;
    background: linear-gradient(45deg, #FFD700, #FFD700 50%, #FFFF00 50%, #FFFF00);
  
    background-size: 200% 200%; 
    animation: shine 2s infinite;
  }
  .icon-container-member{
    width: 80%;     
    height: 75px;
    border-radius: 15px; 
    display: flex;
    align-items: center;
    padding-left: 45px; 
    margin: 0 auto 15px; 
    border: 3px solid #311D05;
    background: linear-gradient(45deg, #FFD700, #FFD700 50%, #FFFF00 50%, #FFFF00);
  
    background-size: 200% 200%; 
    animation: shine 2s infinite;
  }
  .icon-container-square-member{
    display: inline-block;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #311D05;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
  }
  @keyframes shine {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  
  
  .total-admins {
    text-align: center;
    font-size: 16px;
    margin-left: -105px;
    margin-top: -45px; 
  }
  
  
  .total-admin-title {
    text-align: center;
    font-size: 17px;
    margin-top: -27px;
    margin-left: 5px; 
    color: #92959E;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .icon-container-square {
    display: inline-block;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #311D05;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
  }
  
  
  .icon-container-square i {
    color: white; 
    font-size: 24px; 
  }
  .total-admins {
    text-align: center; 
    font-size: 16px; 
    margin-left: -105px;
  }
  .icon-container-users {
    background-color: rgba(0, 222, 163, 0.2); 
    width: 80%; 
    height: 75px;
    border-radius: 15px; 
    display: flex;
    align-items: center;
    padding-left: 45px; 
    margin: 15px auto; 
  }
  
  .icon-container-users i {
    color: #fff; 
    font-size: 24px; 
  }
  
  .icon-container-square-users {
    display: inline-block;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #00DEA3; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px; 
  }
  .total-members{
    text-align: center;
    font-size: 16px;
    margin-left: -105px;
    margin-top: -45px; 
  }
