









.current-page {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.pagination, .step-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination a.addButton {
    margin: 0 5 px;
}

.star {
    font-size: 25px;
    color: gray;
    cursor: pointer;
}

.star:hover,
.star.active {
    color: gold;
}

.container1 {
    position: relative;
    min-height: 100vh;
    z-index: 1;
    margin-bottom: 40px;
}

.container1::before {
    content: "";
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}



.sort-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 5px;
}
