#greeting-container {
    text-align: center; 
    margin-left: 240px;
    padding: 20px 0;
}
.flatpickr-calendar .numInputWrapper,
.flatpickr-calendar .flatpickr-days {
    font-size: 0.85em;
}

.flatpickr-calendar .flatpickr-day {
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.flatpickr-current-month .numInputWrapper {
    height: 28px;
    line-height: 28px;
}

.flatpickr-current-month .cur-year {
    font-size: 1.5em;
}
#calendar-icon {
    margin: 0;
    padding: 0;
    transform: translateY(-2px); 
}
#date-container {
    padding-right: 30px; 
}


#frases-motivadoras-container h2 {
    font-size: 0.9em; 
    margin-top: -40px; 
    margin-left: 242px; 
    padding: 20px 0;
}
.home-page {
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: auto;
    left: 0;  
    right: 0;
}
#contenido-adicional {
    background-color: white;
    border-radius: 10px; 
    padding: 20px; 
    margin-top: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 


    font-size: 14px;
    line-height: 1.5;
    
    max-width: 800px;
    margin-left: 240px;
    padding: 23px 0;
}

#contenido-adicional h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.dashboard-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-item {
    flex: 1;
    text-align: left;
    border-right: 2px solid #ECECEE;
    padding: 0 15px;
    display: flex; 
    flex-direction: column; 
}

.dashboard-item i {
    margin-right: 20px;
}

.dashboard-item:last-child {
    border-right: none;
}

.dashboard-icon {
    margin-right: 20px;
    margin-bottom: 25px;
    font-size: 24px;
}

.dashboard-fluid-title {
    text-align: center;
    font-size: 15px;
    margin-top: -12px; 
    color: #92959E;
    margin-bottom: 10px;

}

#dashboard-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.total-fluidos {
    text-align: center;
    font-size: 14px; 
    margin-top: -35px;
}
.icon-container {
    display: inline-block;
    position: relative;
    padding: 10px; 
    width: 50px; 
    height: 50px; 
    border-radius: 10px; 
    background-color: #FFF2E9;
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.icon-container i {
    vertical-align: middle;
    margin: 0 auto;
}

.icon-container-user  {
    display: inline-block;
    position: relative;
    padding: 10px; 
    width: 50px; 
    height: 50px; 
    border-radius: 10px; 
    background-color: #EAF9FF; 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.icon-container-user i {
    vertical-align: middle; 
    margin: 0 auto; 
}

.icon-container-exp  {
    display: inline-block;
    position: relative;
    padding: 10px; 
    width: 50px; 
    height: 50px; 
    border-radius: 10px; 
    background-color: #EDE8FF; 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.icon-container-exp i {
    vertical-align: middle; 
    margin: 0 auto; 
}








  
