
body, label, input, a {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.action-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Estilo para el área principal */
.main-content {
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea el contenido arriba */
    padding: px;
    margin-left: 20px; /* Ancho del sidebar */
    margin-right: 20px; /* Espacio a la derecha del contenido */
}

.left {
    flex: 1;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px
}

.right {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chart {
    height: 300px;
}

.select {
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.grid > div {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
