body, label, input, a {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.action-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


/* Estilo para el área principal */
.main-content {
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea el contenido arriba */
    padding: 20px;
    margin-left: 250px; /* Ancho del sidebar */
    margin-right: 20px; /* Espacio a la derecha del contenido */
}

.left {
    flex: 2;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px
    
}

.right {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.chart {
    height: 300px;
}

.select {
    margin-bottom: 20px;
    margin-top: 10px;
}

.title {
    display: flex;
    font-size: 30px;
    
}
body {
    font-family: 'Arial', sans-serif; 
}
.addButton {
    background-color: #05009c; /* azul */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-left: 20px;
}

.addButton:hover {
    background-color: #0035ad; /* Cambia el color al pasar el mouse */
    transform: scale(1.05);
}

.grid {
    margin-bottom: 20px;
    margin-top: 20px;
}

.grid tr {
    margin-bottom: 10px; /* Espacio entre filas */
}

.grid th,
.grid td {
    padding: 10px; /* Espacio interno entre celdas */
    border: 1px solid #ccc;
}

.addButton, /* Estilo para botones */
a.addButton { /* Estilo para enlaces con la clase addButton */
    background-color: #05009c; /* azul */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block; /* Alinea el enlace en línea con el texto */
    text-decoration: none; /* Elimina el subrayado predeterminado */
}

.addButton:hover {
    background-color: #0035ad; /* Cambia el color al pasar el mouse */
    transform: scale(1.05);
}
.main-content {
  margin: 0 auto; /* Esto centrará el contenido horizontalmente */
  max-width: 800px; /* Cambia el valor según sea necesario */
}
/* Agrega estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

/* Estilos para las celdas del encabezado de la tabla */
table th {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

/* Estilos para las celdas de datos de la tabla */
table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

/* Estilos para filas alternas */
table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilos para la primera columna (nombre) */
table td:first-child {
    font-weight: bold;
}

/* Estilos para la última columna (fecha) */
table td:last-child {
    font-style: italic;
}


/* Estilos para el texto "1 de 1" */
.current-page {
    font-size: 16px;
    font-weight: bold;
    text-align: center; /* Añade esta propiedad para centrar el texto horizontalmente */
}


/* Estilo para el botón de eliminación (clase deleteButton) */
.deleteButton {
    background-color: #ff0000; /* Cambia el color de fondo a rojo o el que desees */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.deleteButton:hover {
    background-color: #ff5555; /* Cambia el color al pasar el mouse */
    transform: scale(1.05);
}

/* Estilos para el texto "1 de 1" */
.current-page {
    font-size: 16px;
    font-weight: bold;
    text-align: center; /* Añade esta propiedad para centrar el texto horizontalmente */
}
.pagination {
    display: flex;
    justify-content: center;  /* Centrar horizontalmente */
    align-items: center;      /* Centrar verticalmente */
}
.step-links {
    display: flex;
    align-items: center;      /* Centrar verticalmente */
}
.addButton {
    background-color: #05009c; /* azul */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px; /* Espaciado alrededor del texto */
    font-size: 16px; /* Tamaño de la fuente */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombreado */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave para el hover */
}

.addButton:hover {
    background-color: #0336a6; /* Un azul un poco más oscuro en hover */
    transform: translateY(-2px); /* Eleva el botón ligeramente en hover */
}

.addButton:active {
    background-color: #002080; /* Un azul aún más oscuro cuando se hace clic */
    transform: translateY(0); /* Regresa el botón a su posición original cuando se hace clic */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Reduce el sombreado cuando se hace clic */
}

/* Estilos para el botón de editar (clase editButton) */
.editButton {
    background-color: #008000; /* Cambia el color de fondo a verde o el que desees */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px; /* Ajusta el espaciado alrededor del texto según tus preferencias */
    font-size: 14px; /* Tamaño de la fuente */
    text-decoration: none; /* Elimina el subrayado predeterminado */
    transition: background-color 0.3s, transform 0.3s;
}

.editButton:hover {
    background-color: #006400; /* Cambia el color al pasar el mouse */
    transform: scale(1.05);
}

.editButton:active {
    background-color: #004000; /* Cambia el color cuando se hace clic */
    transform: translateY(0);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

