{% extends "home_base.html" %}
{% load static %}
<title>{% block title %}Agregar Fluidos{% endblock %}</title>

{% block content %}
<link rel="stylesheet" href="{% static 'css/style_fluido.css' %}">



  <div class="container">
  <div class="main-content">
    <div class="left">
      <h1>Agregar fluido</h1>
      <form method="post" action="{% url 'crear_fluido' %}">
        {% csrf_token %}
        <label for="nombre_fluido">Nombre del fluido: </label>
        <input type="text" name="nombre_fluido" id="nombre_fluido" value="" placeholder="ej: agua" required><br>
        <label for="descripcion_fluido">Descripcion del fluido: </label>
        <input type="text" name="descripcion_fluido" id="descripcion_fluido" value="" placeholder="ej: agua de la llave" required><br>
        <a style="margin-top: 30px;" onclick="goBack()" class="addButton"><i class="fas fa-arrow-left"></i></a>
        <input type="submit" style="margin-top: 30px;" onclick="goBack()" value="Crear fluido" class="addButton"></input>
        
      </form>
      
      
    </div>
  </div>
</div>

<script>
    function goBack() {
      window.history.back();
    }
</script>

{% endblock %}
