{% extends "home_base.html" %}
{% load static %}
<title>{% block title %}Agregar Fluidos{% endblock %}</title>

{% block content %}

  <div class="container-fluidos">
  <div class="main-content-fluidos">
    <div class="left-fluidos">
      <h1 style="margin-bottom: -10px; text-align: center;">Agregar fluido</h1><br>
      <hr style="border: 1px solid #ccc; margin: 5px 0;"></hr><br>
      <form method="post" action="{% url 'crear_fluido' %}">
        {% csrf_token %}
        <label for="nombre_fluido">Nombre del fluido: </label>
        <input type="text" name="nombre_fluido" id="nombre_fluido" value="" placeholder="ej: agua" required><br><br>
        <label for="descripcion_fluido">Descripcion del fluido: </label>
        <input type="text" name="descripcion_fluido" id="descripcion_fluido" value="" placeholder="ej: agua de la llave" required><br>
        <a style="margin-top: 30px;" onclick="goBack()" class="btn addButton-fluidos"><i class="fas fa-arrow-left"></i></a>
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <input type="submit" style="margin-top: 30px; font-family: 'Montserrat', sans-serif;" onclick="goBack()" value="Crear fluido" class="addButton-fluidos"></input>
        
      </form>
      
      
    </div>
  </div>
</div>

<script src="{% static 'js/script-fluido.js' %}"></script>


{% endblock %}