{% extends "home_base.html" %}
{% load static %}

{% block title %}
Experimento con Tiempo
{% endblock %}

{% block content %}

<!-- Add Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.0.1/chartjs-plugin-zoom.min.js"></script>



    {% for experimento in experimentos %}
    <!-- Datos del gráfico para cada experimento -->
    <div class="chartData" data-final-values="{{ experimento.final_values }}"
        data-frecuencies="{{ experimento.frecuencies }}"
        data-shift-phase="{{ experimento.shift_phase }}"
        data-nombre="{{ experimento.nombre }}"
        style="display: none;">
    </div>
    {% endfor %}

    <!-- El contenedor y el canvas del gráfico -->
    <div style="position: relative; height:40vh; width:80vw">
        <canvas id="myChart"></canvas>
    </div>
</div>



<!-- Datos del gráfico -->
<div id="chartData" data-final-values="{{ final_values }}" data-frecuencies="{{ frecuencies }}" data-shift-phase="{{ shift_phase }}" style="display: none;"></div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        let chartDataElements = document.getElementsByClassName('chartData');
        let datasets = [];
        let allFrequencies = new Set();
    
        // Crear datasets basados en los datos de cada experimento
        Array.from(chartDataElements).forEach(function(chartDataDiv) {
            let finalValues = JSON.parse(chartDataDiv.getAttribute('data-final-values'));
            let frecuencies = JSON.parse(chartDataDiv.getAttribute('data-frecuencies'));
            let nombre = chartDataDiv.getAttribute('data-nombre');
    
            frecuencies.forEach(frequency => allFrequencies.add(frequency));
    
            datasets.push({
                label: nombre,
                data: finalValues,
                // Estilos personalizados para cada conjunto de datos, si es necesario
            });
        });
    
        allFrequencies = Array.from(allFrequencies).sort((a, b) => a - b);
    
        // Inicializar el gráfico
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: allFrequencies,
                datasets: datasets
            },
            options: {
                plugins: {
                zoom: {
                    pan: {
                        enabled: true,
                        mode: 'x'
                    },
                    zoom: {
                        wheel: {
                            enabled: true
                        },
                        drag: {
                            enabled: false
                        },
                        pinch: {
                            enabled: false
                        },
                        mode: 'x'
                    }
                }
            }
            }
        });
    });
    </script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    let chartDataDiv = document.getElementById('chartData');
    
    let finalValues = JSON.parse(chartDataDiv.getAttribute('data-final-values'));
    let frecuencies = JSON.parse(chartDataDiv.getAttribute('data-frecuencies'));
    let shift_phase = JSON.parse(chartDataDiv.getAttribute('data-shift-phase'));

    let minValue_2 = Math.min(...shift_phase);
    let maxValue_2= Math.max(...shift_phase);
    let margin_2 = (maxValue_2 - minValue_2) * 0.05;

    minValue_2 -= margin_2;
    maxValue_2 += margin_2;

    let minValue = Math.min(...finalValues);
    let maxValue = Math.max(...finalValues);
    let margin = (maxValue - minValue) * 0.05;
    


    minValue -= margin;
    maxValue += margin;

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: frecuencies,
            datasets: [{
                label: 'Final Values',
                data: finalValues,
                fill: false,
                borderColor: 'rgba(0, 0, 255, 1)',
                borderWidth: 1.8, 
                pointRadius: 0.5, 
                pointBackgroundColor: 'rgba(0, 0, 255, 1)',
                tension: 0.4

                }]
        },
        options: {
            plugins: {
                zoom: {
                    pan: {
                        enabled: true,
                        mode: 'x'
                    },
                    zoom: {
                        wheel: {
                            enabled: true
                        },
                        drag: {
                            enabled: false
                        },
                        pinch: {
                            enabled: false
                        },
                        mode: 'x'
                    }
                }
            }
        }
    });
    var ctx2 = document.getElementById('myChart2').getContext('2d');
    var myChart2 = new Chart(ctx2, {
        type: 'line',
        data: {
            labels: frecuencies,
            datasets: [{
                label: 'Shift phase',
                data: shift_phase,
                fill: false,
                borderColor: 'rgba(255, 0, 0, 1)',
                borderWidth: 1.8, 
                pointRadius: 0.5, 
                pointBackgroundColor: 'rgba(255, 0, 0, 1)',
                tension: 0.4
            }]
        },
        options: {
            plugins: {
                zoom: {
                    pan: {
                        enabled: true,
                        mode: 'x'
                    },
                    zoom: {
                        wheel: {
                            enabled: true
                        },
                        drag: {
                            enabled: false
                        },
                        pinch: {
                            enabled: false
                        },
                        mode: 'x'
                    }
                }
            }
        }
        });
});

</script>

<style>
    .chart-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        gap: 20px;
    }

    .chart-card {
        background: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 20px;
        margin-top: 50px;
        width: 640px; /* Ancho de la tarjeta */
        margin-left: 270px;
    }

    .chart-title {
        text-align: center;
    }

    #myChart {
        width: 600px;
        height: 500px;
    }

    #myChart2 {
        width: 600px;
        height: 500px;
    }

    .experiment-data-card {
        width: 320px; 
        margin-right: 20px; 
    }

    .experiment-data {
        padding: 20px;
        font-size: 16px;

    }
    .detail-container {
        display: flex;
    }




</style>

{% endblock %}
