{% extends "home_base.html" %}
{% load static %}

{% block title %}
Experimento con Tiempo
{% endblock %}

{% block content %}

<!-- Add Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.0.1/chartjs-plugin-zoom.min.js"></script>


<div class="content-container-comparar">
    
    <!-- Contenedor para las tarjetas de detalles del experimento -->
    <div class="experiment-details-container">
        {% for experimento in experimentos %}
            <div class="chart-card experiment-data-card">
                <div class="chart-title">
                    <h2>Datos del Experimento <b>{{ experimento.experimento.nombre_experimento }}</b></h2>
                </div>
                
                <div class="experiment-data">
                    <p>Nombre del Experimento: <b>{{ experimento.experimento.nombre_experimento }}</b></p>
                    <p>Sensibilidad: <b>{{ experimento.experimento.sensibilidad }}</b></p>
                    <p>Pasos: <b>{{ experimento.experimento.pasos }}</b></p>
                    <p>Frecuencia inicial: <b>{{ experimento.experimento.frecuencia_inicial }} Hz</b></p>
                    <p>Frecuencia final: <b>{{ experimento.experimento.final_frecuency }} Hz</b></p>
                    <p>Voltaje: <b>{{ experimento.experimento.voltaje }} V</b></p>
                    <p>Tiempo total pausa: <b>{{ experimento.tiempo_formateado_pausa }}</b></p>
                    <p>Tiempo total: <b>{{ experimento.tiempo_formateado }}</b></p>
                    <p>Comentario: <b>{{ experimento.experimento.comentario }}</b></p>
                </div>
                
            
        </div>
        {% endfor %}
    </div>

    <!-- Contenedor para los gráficos -->
    <div class="charts-container">
        <!-- Gráficos aquí -->
        
        <div class="chart-card">
            <div class="chart-title">
                <h2>Gráfico f(z)</h2>
            </div>
            <canvas id="myChart"></canvas>
        </div>
        <div class="chart-card">
            <div class="chart-title">
                <h2>Gráfico Shift Phase</h2>
            </div>
            <canvas id="myChart2"></canvas>
        </div>
    </div>

</div>





    {% for experimento in experimentos %}
    <!-- Datos del gráfico para cada experimento -->
    <div class="chartData" data-final-values="{{ experimento.final_values }}"
        data-frecuencies="{{ experimento.frecuencies }}"
        data-shift-phase="{{ experimento.shift_phase }}"
        data-nombre="{{ experimento.nombre }}"
        style="display: none;">
    </div>
    {% endfor %}

    <!-- El contenedor y el canvas del gráfico -->




<!-- Datos del gráfico -->
<div id="chartData" data-final-values="{{ final_values }}" data-frecuencies="{{ frecuencies }}" data-shift-phase="{{ shift_phase }}" style="display: none;"></div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let chartDataElements = document.getElementsByClassName('chartData');
        let datasets = [];
        let allFrequencies = new Set();
        let shift_phase_dataset = [];
    
        // Crear datasets basados en los datos de cada experimento
        Array.from(chartDataElements).forEach(function(chartDataDiv) {
            let finalValues = JSON.parse(chartDataDiv.getAttribute('data-final-values'));
            let frecuencies = JSON.parse(chartDataDiv.getAttribute('data-frecuencies'));
            let shift_phase = JSON.parse(chartDataDiv.getAttribute('data-shift-phase'));
            let nombre = chartDataDiv.getAttribute('data-nombre');
    
            frecuencies.forEach(frequency => allFrequencies.add(frequency));
    
            datasets.push({
                label: nombre,
                data: finalValues,
                fill: false,
                borderWidth: 1.8, 
                pointRadius: 0.5,
                tension: 0.4
                // Estilos personalizados para cada conjunto de datos, si es necesario
            });
            shift_phase_dataset.push({
                label: nombre,
                data: shift_phase,
                fill: false,
                borderWidth: 1.8, 
                pointRadius: 0.5, 
                tension: 0.4
            });
        });
    
        allFrequencies = Array.from(allFrequencies).sort((a, b) => a - b);
    
        // Inicializar el gráfico
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: allFrequencies,
                datasets: datasets,
            },
            options: {
                plugins: {
                zoom: {
                    pan: {
                        enabled: true,
                        mode: 'x'
                    },
                    zoom: {
                        wheel: {
                            enabled: true
                        },
                        drag: {
                            enabled: false
                        },
                        pinch: {
                            enabled: false
                        },
                        mode: 'x'
                    }
                }
            }
            }
        });
        var ctx2 = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: allFrequencies,
                datasets: shift_phase_dataset,
                fill: false,
                borderColor: 'rgba(255, 0, 0, 1)',
                borderWidth: 1.8, 
                pointRadius: 0.5, 
                pointBackgroundColor: 'rgba(255, 0, 0, 1)',
                tension: 0.4
            },
            options: {
                plugins: {
                zoom: {
                    pan: {
                        enabled: true,
                        mode: 'x'
                    },
                    zoom: {
                        wheel: {
                            enabled: true
                        },
                        drag: {
                            enabled: false
                        },
                        pinch: {
                            enabled: false
                        },
                        mode: 'x'
                    }
                }
            }
            }
        });
    });
    </script>



{% endblock %}