{% extends "home_base.html" %}
{% load static %}

{% block title %}
Experimento con Tiempo
{% endblock %}

{% block content %}
<!-- Contenido de tu página aquí -->

<!-- Estilos CSS para el diseño -->
<style>
    body {
        font-family: 'Arial', sans-serif; 
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }




    /* Estilos para los botones */
    .controls button {
        margin-right: 10px;
        margin-top: 10px; /* Añadido para separación */
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s, transform 0.3s;
    }

    .controls button:hover {
        transform: scale(1.05);
    }

    /* Estilos para los elementos del formulario */
    form label, form input, form textarea, form button {
        display: block;
        margin-bottom: 15px; /* Añadido para separación */
    }

    #startButton {
        background-color: #4CAF50;  /* verde */
        color: white;
    }

    #stopButton {
        background-color: #F44336;  /* rojo */
        color: white;
    }   

    #cancelButton {
        background-color: #FF9800;  /* naranja */
        color: white;
    }

    #clearButton {
        background-color: #2196F3;  /* azul */
        color: white;
    }

    #saveButton {
        background-color: #05009c; /* azul */
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }

    #saveButton:hover {
        background-color: #0035ad; /* Cambia el color al pasar el mouse */
        transform: scale(1.05);
    }



    /* Estilo para el área principal */
    .main-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start; /* Alinea el contenido arriba */
        padding: 20px;
        margin-left: 250px; /* Ancho del sidebar */
        margin-right: 20px; /* Espacio a la derecha del contenido */
    }

    .left {
        flex: 1;
        padding: 20px;
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .right {
        flex: 1;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .grid {
        margin-bottom: 20px;
    }

    .chart {
        height: 300px;
    }
    
    .select {
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .addButton, /* Estilo para botones */
    a.addButton { /* Estilo para enlaces con la clase addButton */
        background-color: #05009c; /* azul */
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
        display: inline-block; /* Alinea el enlace en línea con el texto */
        text-decoration: none; /* Elimina el subrayado predeterminado */
    }

    .addButton:hover {
        background-color: #0035ad; /* Cambia el color al pasar el mouse */
        transform: scale(1.05);
    }

    
 

    
</style>

<!-- Estilos CSS de Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Scripts de Bootstrap y jQuery (necesarios para las funciones modales o pestañas emergentes) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<!-- Contenedor principal -->
<div class="main-content">
    <!-- Rejillas ajustables en el lado izquierdo -->
    <div class="left">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <!-- Datos del Fluido -->
            <label for="nombre_fluido">Nombre del Fluido:</label>
            <select id="nombre_fluido" name="nombre_fluido" required>
                <option value="">Selecciona un fluido</option>
                {% for fluido in fluidos %}
                    <option value="{{ fluido.nombre_fluido }}" data-descripcion="{{ fluido.descripcion }}">{{ fluido.nombre_fluido }}</option>
                {% endfor %}
            </select>
            <a style="margin-left: 20px;" href="{% url 'agregar_fluido' %}" class="addButton">Agregar fluido</a><br>        
            
            <label for="descripcionInput">Descripción del Fluido:</label>
            <textarea id="descripcionInput" name="descripcionInput" required>{{ fluidos..descripcion }}</textarea><br>
            
            
            <!-- Datos del Experimento -->

            <label for="nombre_experimento">Nombre del Experimento:</label>
            <input type="text" id="nombre_experimento" name="nombre_experimento" required><br>

            <label for="resistenciaInput">Resistencia:</label>
            <input type="number" id="resistenciaInput" min="0" name="resistenciaInput" required><br>

            <label for="sensibilidadInput">Sensibilidad:</label>
            <input type="number" id="sensibilidadInput" min="0" name="sensibilidadInput" required><br>

            <label for="pasosInput">Pasos:</label>
            <input type="number" id="pasosInput" min="1000" name="pasosInput" max="10000" step="1000" required><br>
            
            <label for="frecuenciaInput">Frecuencia (kHz):</label>
            <input type="number" id="frecuenciaInput" min="10000" max="40000" step="1000" name="frecuenciaInput" required><br>
            
            <label for="voltajeInput">Voltaje (Volts):</label>
            <input type="number" id="voltajeInput" min="0" step="0.1" max="5" name="voltajeInput" required><br>

            <label for="comentario">Comentario:</label>
            <textarea id="comentario" name="comentario" required></textarea><br>
            
            <label for="pdf_experimento">Archivo PDF del Experimento:</label>
            <input type="file" id="pdf_experimento" name="pdf_experimento"><br>
            
            <button class="saveButton" id="saveButton">Guardar Experimento</button>
            </form>
            
            </h6>Subir condatos de voltaje/tiempo.txt<//h6>
            <form method="post" action="{% url 'cargar_voltaje_con_tiempo' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="txt_file">
                <button type="submit">Subir Archivo</button>
            </form>
        
            {% if plot_html %}
                {{ plot_html|safe }}
            {% else %}
                <p>No se ha subido un archivo o el formato no es compatible.</p>
            {% endif %}
        <div class="controls">
            <button class="startButton" id="startButton">Iniciar</button>
            <button class="stopButton" onclick="checkAction('Detener')" id="stopButton">Detener</button>
            <button class="cancelButton" onclick="checkAction('Cancelar')" id="cancelButton">Cancelar</button>
            <button class="clearButton" id="clearButton">Limpiar Datos</button> <br> <br>
            

        </div>
    </div>

    <!-- Gráficos en el lado derecho -->
    <div class="right">
        <div class="chart">
            <canvas id="chart1"></canvas>
        </div>
        <div class="chart">
            <canvas id="chart2"></canvas>
        </div>
    </div>
    
</div>



<!-- Modal para el botón de Detener -->
<div class="modal" tabindex="-1" id="stopModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Detener Experimento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de que deseas detener el experimento?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmStop">Detener</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal para el botón de Cancelar -->
  <div class="modal" tabindex="-1" id="cancelModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cancelar Experimento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de que deseas cancelar el experimento? Todos los datos se perderán.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal" id="confirmCancel">Cancelar Experimento</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
        </div>
      </div>
    </div>
  </div>
  

<!-- Scripts JavaScript y Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
<script src="{% static 'js/script-ext.js' %}"></script>

{% endblock %}
<!-- Fin del contenido -->
