{% extends "home_base.html" %}
{% load static %}

{% block title %}
Experimento con Tiempo
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style_fluidot.css' %}">
<style>
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    
    .container {
      position: center;
      min-height: 100vh;
      z-index: 1;
    }
    
    .container::before {
      content: "";
      background-image: url('{% static "img/background1.webp" %}');
      background-size: cover;
      background-position: center center;
      background-repeat: repeat;
      background-attachment: fixed;
      opacity: 0.4;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      z-index: 1;
    }

    .left{
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px #888888;
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    transform: translateX(25%);
    text-align: center;
}

  </style>
  
<!-- Estilos CSS de Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<!-- Scripts de Bootstrap y jQuery (necesarios para las funciones modales o pestañas emergentes) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>



<!-- Contenedor principal -->
<div class="container1">
    <div class="main-content">
        <!-- Rejillas ajustables en el lado izquierdo -->
        <div class="left">
            <h1>Experimento</h1><br>
            <form method="post" enctype="multipart/form-data" action="{% url 'crear_experimento' %}" id="experimentoForm">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <!-- Datos del Fluido -->
                        <label for="nombre_fluido" class="labelStyle">Nombre del Fluido:</label>
                        <select class="select-menu" id="nombre_fluido" name="nombre_fluido" required onchange="updateDescripcion()">
                            <option value="">Selecciona un fluido</option>
                            {% for fluido in fluidos %}
                                <option value="{{ fluido.nombre_fluido }}"
                                        data-descripcion="{{ fluido.descripcion }}"
                                        {% if ultimo_experimento and ultimo_experimento.fluido == fluido %}selected{% endif %}>
                                    {{ fluido.nombre_fluido }}
                                </option>
                            {% endfor %}
                        </select>
                        
                    <a href="{% url 'agregar_fluido' %}?next={{ request.path }}" class="btn addButton" id="addButton">Agregar fluido</a>
                    <p style="margin-bottom: 20px;"></p>
                    
                        <label for="descripcionInput">Descripción del Fluido:</label>
                        <textarea id="descripcionInput" name="descripcionInput" required readonly>
                            {% if ultimo_experimento %}
                                {{ ultimo_experimento.fluido.descripcion }}
                            {% endif %}
                        </textarea><br>
                        
                        
                        <!-- Datos del Experimento -->

                        <label for="nombre_experimento">Nombre del Experimento:</label>
                        <input type="text" id="nombre_experimento" value="" name="nombre_experimento" required><br>
                        

                        <label>
                            <label for="checkboxPausa">Tiempo de pausa:</label>
                            <input type="checkbox" id="checkboxPausa"  onchange="toggleInput(this)">
                        </label>
                        
                        <div id="inputContainer" style="display: none;">
                            <input type="number" id="pause" name="pause" min="1" placeholder="Tiempo de pausa"><br>
                        </div>

                        <label for="sensibilidadInput">Sensibilidad:</label>
                        <input type="number" id="sensibilidadInput" value="{{ ultimo_experimento.sensibilidad|default_if_none:'' }}" min="0.1" max="10000" step="0.1" name="sensibilidadInput" required><br>

                        

                    </div>
                    <div class="col-sm-6">
                        <label for="pasosInput">Pasos:</label>
                        <input type="number" id="pasosInput" min="10" value="{{ ultimo_experimento.pasos }}" name="pasosInput" max="10000" step="10" required><br>
                        
                        <label for="frecuenciaInput">Frecuencia (kHz):</label>
                        <input type="number" id="frecuenciaInput" min="10000" value="{{ ultimo_experimento.frecuencia_inicial }}" max="40000" step="1000" name="frecuenciaInput" required><br>
                        
                        <label for="voltajeInput">Voltaje (Volts):</label>
                        <input type="number" id="voltajeInput" min="0.1" value="{{ ultimo_experimento.voltaje }}" step="0.1" max="5" name="voltajeInput" required><br>
                        <label for="comentario">Comentario:</label>
                        <textarea id="comentario"  maxlength="200" name="comentario" required></textarea><br>
                    
                        
                        
                        
                    </div>
                    {% if message %}
                            <div class="alert alert-info">
                                {{ message }}
                            </div>
                    {% endif %}
                    
                    <button class="btn start-button" onclick="checkAction(event,'Iniciar')" id="start-button" >Iniciar</button>
                    <a class="btn clear-button" onclick="limpiarDatos()" id="clear-button">Limpiar Datos</a>

                    
                </div>
            </form>

        
        </div>

    </div>


</div> 
<br><br>
<div id="loadingOverlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1000; justify-content: center; align-items: center; color: white; font-size: 2em;">
    <div class="col-sm-6">
        <div class="row">
            <div id="loadingText" style="display: flex; align-items: center;text-align: center; justify-content: center; text-align: center; width: 100%;">Cargando...</div><br>
        </div>
        <div class="row">
            <progress style="display: flex; justify-content: center; align-items:  center; text-align: center; width: 100%;"></progress>
        </div>
        <div class="row">
            <div style="text-align: center; width: 100%;">Tiempo estimado restante: </div>
            <div id="countdown" style="text-align: center; width: 100%;"></div>
        </div>
    </div>
</div>





<!-- Scripts JavaScript y Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
<script src="{% static 'js/script-exp.js' %}"></script>

{% endblock %}
<!-- Fin del contenido -->
