{% extends "home_base.html" %}
{% load static %}

{% block title %}
Experimento con Tiempo
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style_fluidot.css' %}">

<!-- Estilos CSS de Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<!-- Scripts de Bootstrap y jQuery (necesarios para las funciones modales o pestañas emergentes) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>



<!-- Contenedor principal -->
<div class="main-content">
    <!-- Rejillas ajustables en el lado izquierdo -->
    <div class="left">
        <form method="post" enctype="multipart/form-data" id="experimentoForm">
            {% csrf_token %}
            
            <!-- Datos del Fluido -->
            <label for="nombre_fluido" class="labelStyle" >Nombre del Fluido:</label>
            <select id="nombre_fluido" name="nombre_fluido" required>
                <option value="">Selecciona un fluido</option>
                {% for fluido in fluidos %}
                    <option value="{{ fluido.nombre_fluido }}" data-descripcion="{{ fluido.descripcion }}">{{ fluido.nombre_fluido }}</option>
                {% endfor %}
            </select>
            <a style="margin-left: 20px;" href="{% url 'agregar_fluido' %}?next={{ request.path }}" class="addButton">Agregar fluido</a>
            
            <label for="descripcionInput">Descripción del Fluido:</label>
            <textarea id="descripcionInput" name="descripcionInput" required readonly>{{ fluidos.descripcion }}</textarea><br>
            
            
            <!-- Datos del Experimento -->

            <label for="nombre_experimento">Nombre del Experimento:</label>
            <input type="text" id="nombre_experimento" name="nombre_experimento" required><br>

            <label>
                <label for="sensibilidadInput">Tiempo de pausa:</label>
                <input type="checkbox" id="showInputCheckbox" onchange="toggleInput(this)">
            </label>
            
            <div id="inputContainer" style="display: none;">
                <input type="number" id="pause" min="1" placeholder="Tiempo de pausa"><br>
            </div>

            <label for="sensibilidadInput">Sensibilidad:</label>
            <input type="number" id="sensibilidadInput" min="1" name="sensibilidadInput" required><br>

            <label for="pasosInput">Pasos:</label>
            <input type="number" id="pasosInput" min="1000" name="pasosInput" max="10000" step="1000" required><br>
            
            <label for="frecuenciaInput">Frecuencia (kHz):</label>
            <input type="number" id="frecuenciaInput" min="10000" max="40000" step="1000" name="frecuenciaInput" required><br>
            
            <label for="voltajeInput">Voltaje (Volts):</label>
            <input type="number" id="voltajeInput" min="0.1" step="0.1" max="5" name="voltajeInput" required><br>

            <label for="comentario">Comentario:</label>
            <textarea id="comentario" name="comentario" required></textarea><br>
            
            <label for="pdf_experimento">Archivo PDF del Experimento:</label>
            <input type="file" id="pdf_experimento" name="pdf_experimento"><br>
            
            <button class="saveButton" id="saveButton">Guardar Experimento</button>
        </form>
            
        <h6>Subir con datos de voltaje/tiempo.txt</h6>
        <form method="post" action="{% url 'cargar_voltaje_con_tiempo' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="txt_file" id="file-input" style="display: none;">
            <label for="file-input" class="upload-button">
                Subir Archivo <i class="fas fa-arrow-up"></i>
            </label>
            <button type="submit" style="display: none;">Subir</button>
        </form>
        
        
        
        {% if plot_html %}
            {{ plot_html|safe }}
        {% else %}
            <p>No se ha subido un archivo o el formato no es compatible.</p>
        {% endif %}
        
        <div class="controls">
            <button class="startButton" onclick="checkAction('Iniciar')" id="startButton">Iniciar</button>
            <button class="stopButton" onclick="checkAction('Detener')" id="stopButton">Detener</button>
            <button class="cancelButton" onclick="checkAction('Cancelar')" id="cancelButton">Cancelar</button>
            <button class="clearButton" id="clearButton">Limpiar Datos</button>
        </div>
    </div>

    <!-- Gráficos en el lado derecho -->
    <div class="right">
        <div class="chart">
            <canvas id="chart1"></canvas>
        </div>
        <div class="chart">
            <canvas id="chart2"></canvas>
        </div>
    </div>
</div>

<!-- Modal para el botón de Detener -->
<div class="modal" tabindex="-1" id="stopModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detener Experimento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas detener el experimento?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmStop">Detener</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para el botón de Cancelar -->
<div class="modal" tabindex="-1" id="cancelModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cancelar Experimento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas cancelar el experimento? Todos los datos se perderán.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal" id="confirmCancel">Cancelar Experimento</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>

<!-- Scripts JavaScript y Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
<script src="{% static 'js/script-exp.js' %}"></script>

{% endblock %}
<!-- Fin del contenido -->
