{% extends "home_base.html" %}
{% load static %}
<title>{% block title %}Historial de Experimentos{% endblock %}</title>
{% block content %}
<link rel="stylesheet" href="{% static 'css/style_historial2.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container-historial">
  <div class="container">
    <div class="main-content-historial">
      <div class="left-historial">
        <h1>Historial de Experimentos</h1><br>
        <form method="get" action="{% url 'historial' %}">
          <div class="action-buttons-historial">
            <div class="search-container-historial">
              <input type="text" name="search" id="search" value="{{ search }}" placeholder="Buscar...">
              <button type="submit" class="addButton-historial"><i class="fas fa-search"></i></button>
              <button type="button" id="clearSearchButton" class="clearButton-historial"><i class="fas fa-times"></i></button>
            </div>
            <input type="checkbox" id="favs_checkbox" name="favs_checkbox" class="favs_checkbox">
            <label for="fav_checkbox">Mostrar solo favoritos</label>
          </div>
        </form>
      
        <form method="get" id="ordenForm" action="{% url 'historial' %}">
              
          <select name="orden">
            <option value="fecha_asc">Fecha Ascendente</option>
            <option value="fecha_desc">Fecha Descendente</option>
            <option value="nombre_asc">Nombre Ascendente</option>
            <option value="nombre_desc">Nombre Descendente</option>
            <option value="comentario_asc">Comentario Ascendente</option>
            <option value="comentario_desc">Comentario Descendente</option>
            <option value="voltaje_asc">Voltaje Ascendente</option>
            <option value="voltaje_desc">Voltaje Descendente</option>
            <option value="frecuencia_inicial_asc">Frecuencia Inicial Ascendente</option>
            <option value="frecuencia_inicial_desc">Frecuencia Inicial Descendente</option>
            <option value="final_frecuency_asc">Frecuencia Final Ascendente</option>
            <option value="final_frecuency_desc">Frecuencia Final Descendente</option>
            <option value="pasos_asc">Pasos Ascendente</option>
            <option value="pasos_desc">Pasos Descendente</option>
        </select>
        </form>
        <form method="post" action="{% url 'eliminar_experimentos' %}" id="delete_fluidos_form">
          {% csrf_token %}
          <div class="grid">
            <table>
              <thead>
                  <tr>
                      <th></th>
                      <form id="ordenform" method="get" action="{% url 'historial' %}">
                        <th>Nombre</th>
                        <th>Comentario </th>
                        <th>Fecha </th>
                        <th>Voltaje </th>
                        <th>Frecuencia Inicial </th>
                        <th>Frecuencia Final </th>
                        <th>Pasos </th>
                      <th>Favorito</th>
                      <th>Acciones</th> 
                      
                  </tr>
                  
              </thead>
              <tbody>
                  {% for experimento in experimentos_paginate %}
                  <tr>
                    <td>
                        <input type="checkbox" name="selected_experimentos" class="fav_checkbox-historial" value="{{ experimento.nombre_experimento }}">
                    </td>
                    <td>{{ experimento.nombre_experimento }}</td>
                    <td>{{ experimento.comentario }}</td>
                    <td>{{ experimento.fecha_experimento }}</td>
                    <td>{{ experimento.voltaje }}</td>
                    <td>{{ experimento.frecuencia_inicial }}</td>
                    <td>{{ experimento.final_frecuency }}</td>
                    <td>{{ experimento.pasos }}</td>
                    <td><a href="{% url 'actualizar_favorito' experimento.id %}" class="star-historial {% if experimento.favorito %}active{% endif %}">
                      <i class="fas fa-star" style="font-size: 25px; justify-content: center; display: flex; align-items: center;"></i>
                  </a></td>
                    <td>
                        <a href="{% url 'editar_experimento' experimento.id %}" class="editButton-historial">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                          <a href="{% url 'ver_experimento' experimento.nombre_experimento %}" class="editButton-historial">
                            <i class="fas fa-edit"></i> Ver experimento
                        </a>
                    </td>
                    
                </tr>
                {% endfor %}
              </tbody>
              
              
          </table>
          </div>
          
          <button type="submit" class="deleteButton-historial" id="delete_fluidos_button"><i class="fas fa-trash"></i></button>
          <button type="button"  id="compareButton" class="compareButton">
            <i>Comparar</i>
          </button>
        </form>
        

        <div class="pagination-historial">
          <span class="step-links-historial">
            {% if experimentos_paginate.has_previous %}
            <a href="?page=1{% if search %}&search={{ search }}{% endif %}" class="addButton"><<</a>
            <a href="?page={{ experimentos_paginate.previous_page_number }}{% if search %}&search={{ search }}{% endif %}" class="addButton"><</a>
            
            {% endif %}
            <span class="current-page-historial">{{ experimentos_paginate.number }} de {{ experimentos_paginate.paginator.num_pages }}</span>
            {% if experimentos_paginate.has_next %}
            <a href="?page={{ experimentos_paginate.next_page_number }}{% if search %}&search={{ search }}{% endif %}" class="addButton">></a>
            <a href="?page={{ experimentos_paginate.paginator.num_pages }}{% if search %}&search={{ search }}{% endif %}" class="addButton">>></a>
            {% endif %}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="{% static 'js/script-history.js' %}"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const favCheckbox = document.getElementById('favs_checkbox');
    const ordenSelect = document.querySelector('select[name="orden"]');
    const form = document.getElementById('ordenForm');

    // Leer parámetros de la URL
    const urlParams = new URLSearchParams(window.location.search);
    const favoritosParam = urlParams.get('favoritos');
    const ordenParam = urlParams.get('orden') || 'fecha_desc'; // Valor por defecto

    // Establecer el estado del checkbox de favoritos y la selección del orden
    favCheckbox.checked = favoritosParam === 'true';
    ordenSelect.value = ordenParam;

    // Manejar el cambio en el checkbox de favoritos
    favCheckbox.addEventListener('change', function() {
        updateURLWithParams();
    });

    // Manejar el cambio en el select de orden
    ordenSelect.addEventListener('change', function() {
        updateURLWithParams();
    });

    function updateURLWithParams() {
        const currentUrl = new URL(window.location.href);
        const favCheckboxState = favCheckbox.checked ? 'true' : 'false';
        const selectedOrder = ordenSelect.value;

        currentUrl.searchParams.set('favoritos', favCheckboxState);
        currentUrl.searchParams.set('orden', selectedOrder);

        window.location.href = currentUrl.href;
    }
    

    document.getElementById('delete_fluidos_button').addEventListener('click', function (event) {
    const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
    if (checkboxes.length === 0) {
        alert('Por favor, seleccione al menos un experimento para eliminar.');
        event.preventDefault();
        return;
    }

    var confirmed = confirm('¿Está seguro de que desea eliminar los experimentos seleccionados?');
    if (!confirmed) {
    }
});
document.getElementById('compareButton').addEventListener('click', function() {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
    if (checkboxes.length <= 1 ) {
        alert('Por favor, seleccione al menos dos experimento para comparar.');
        event.preventDefault();
        return;
    } else {
      document.getElementById('delete_fluidos_form').action = "{% url 'comparar_experimentos' %}";
      document.getElementById('delete_fluidos_form').submit();
    }
  });
 });

  
  
</script>

{% endblock %}