{% extends "home_base.html" %}
{% load static %}

{% block title %}
Experimento con Tiempo
{% endblock %}

{% block content %}

<!-- Add Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.0.1/chartjs-plugin-zoom.min.js"></script>




<div class="detail-container">
    <div class="experiment-data-card" style="float: left;">
        <div class="chart-card experiment-data-card">
            <div class="chart-title">
                <h2>Datos del Experimento</h2>
            </div>
            
            <div class="experiment-data">
                <p>Nombre del Experimento: <b>{{ experimento.nombre_experimento }}</b></p>
                <p>Sensibilidad: <b>{{ experimento.sensibilidad }}</b></p>
                <p>Pasos: <b>{{ experimento.pasos }}</b></p>
                <p>Frecuencia inicial: <b>{{ experimento.frecuencia_inicial }} Hz</b></p>
                <p>Frecuencia final: <b>{{ experimento.final_frecuency }} Hz</b></p>
                <p>Voltaje: <b>{{ experimento.voltaje }} V</b></p>
                <p>Tiempo total pausa: <b>{{ tiempo_formateado_pausa }}</b></p>
                <p>Tiempo total: <b>{{ tiempo_formateado }}</b></p>
                <p>Comentario: <b>{{ experimento.comentario }}</b></p>
            </div>
            
        </div>
        <div class="chart-card experiment-data-card">
            <a href="{% url 'experimento_con_tiempo' %}" class="button-link">Realizar otro experimento</a>
            <a href="{% url 'historial' %}" class="button-link">Historial</a>
        </div>
    </div>
    

    <div class="chart-container" style="float: left;">
        <div class="chart-card">
            <div class="chart-title">
                <h2>Gráfico f(z)</h2>
            </div>
            <!-- Canvas para el gráfico -->
            <canvas id="myChart" style="display: inline-block;"></canvas>
        </div>

        <div class="chart-card" style="display: inline-block;">
            <div class="chart-title">
                <h2>Gráfico Shift Phase</h2>
            </div>
            <!-- Canvas para el gráfico -->
            <canvas id="myChart2"></canvas>
        </div>
    </div>
</div>



<!-- Datos del gráfico -->
<div id="chartData" data-final-values="{{ final_values }}" data-frecuencies="{{ frecuencies }}" data-shift-phase="{{ shift_phase }}" style="display: none;"></div>


<script>
document.addEventListener('DOMContentLoaded', function() {
    let chartDataDiv = document.getElementById('chartData');
    
    let finalValues = JSON.parse(chartDataDiv.getAttribute('data-final-values'));
    let frecuencies = JSON.parse(chartDataDiv.getAttribute('data-frecuencies'));
    let shift_phase = JSON.parse(chartDataDiv.getAttribute('data-shift-phase'));

    let minValue_2 = Math.min(...shift_phase);
    let maxValue_2= Math.max(...shift_phase);
    let margin_2 = (maxValue_2 - minValue_2) * 0.05;

    minValue_2 -= margin_2;
    maxValue_2 += margin_2;

    let minValue = Math.min(...finalValues);
    let maxValue = Math.max(...finalValues);
    let margin = (maxValue - minValue) * 0.05;
    


    minValue -= margin;
    maxValue += margin;

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: frecuencies,
            datasets: [{
                label: 'Final Values',
                data: finalValues,
                fill: false,
                borderColor: 'rgba(0, 0, 255, 1)',
                borderWidth: 1.8, 
                pointRadius: 0.5, 
                pointBackgroundColor: 'rgba(0, 0, 255, 1)',
                tension: 0.4

                }]
        },
        options: {
            plugins: {
                zoom: {
                    pan: {
                        enabled: true,
                        mode: 'x'
                    },
                    zoom: {
                        wheel: {
                            enabled: true
                        },
                        drag: {
                            enabled: false
                        },
                        pinch: {
                            enabled: false
                        },
                        mode: 'x'
                    }
                }
            }
        },
            animation: {
                
                onComplete: function() {
                    // Función para ocultar el mensaje de carga, si aplica
                    function hideLoadingOverlay() {
                        document.getElementById("loadingOverlay").style.display = "none";
                    }
                }
            
            }
    });
    var ctx2 = document.getElementById('myChart2').getContext('2d');
    var myChart2 = new Chart(ctx2, {
        type: 'line',
        data: {
            labels: frecuencies,
            datasets: [{
                label: 'Shift phase',
                data: shift_phase,
                fill: false,
                borderColor: 'rgba(255, 0, 0, 1)',
                borderWidth: 1.8, 
                pointRadius: 0.5, 
                pointBackgroundColor: 'rgba(255, 0, 0, 1)',
                tension: 0.4
            }]
        },
        options: {
            plugins: {
                zoom: {
                    pan: {
                        enabled: true,
                        mode: 'x'
                    },
                    zoom: {
                        wheel: {
                            enabled: true
                        },
                        drag: {
                            enabled: false
                        },
                        pinch: {
                            enabled: false
                        },
                        mode: 'x'
                    }
                }
            }
        },
            animation: {
                onComplete: function() {
                    // Función para ocultar el mensaje de carga, si aplica
                    function hideLoadingOverlay() {
    document.getElementById("loadingOverlay").style.display = "none";


                    }
                }
            }
        });
});

</script>

<style>
    
    .button-link {
        font-family: 'Montserrat', sans-serif;
        background-color: red;
        color: #fff;
        font-size: 15px;    
        padding: 10px 20px; 
        border: none;
        border-radius: 5px; 
        transition: background-color 0.3s ease;
        cursor: pointer;
        margin-left: 100px;
        margin-top: 20px;
        display: flex;
        
    }

    .button-link:hover {
        text-decoration: none;
        background-color: #808080;
        color: white;
    }
    .chart-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        gap: 20px;
    }

    .chart-card {
        background: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 20px;
        margin-top: 50px;
        width: 640px; /* Ancho de la tarjeta */
        margin-left: 270px;
    }

    .chart-title {
        text-align: center;
    }

    #myChart {
        width: 600px;
        height: 500px;
    }

    #myChart2 {
        width: 600px;
        height: 500px;
    }

    .experiment-data-card {
        width: 320px; 
        margin-right: 20px;
        align-items: center;
        justify-content: center; 
    }

    .experiment-data {
        padding: 20px;
        font-size: 16px;

    }
    .detail-container {
        display: flex;
    }




</style>

{% endblock %}
