{% extends "home_base.html" %}
{% load static %}

{% block title %}
Experimento con Tiempo
{% endblock %}

{% block content %}

<!-- Add Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="chart-container">
    <div class="chart-card">
        <div class="chart-title">
            <h2>Gráficos</h2>
        </div>
        <!-- Canvas para el gráfico -->
        <canvas id="myChart"></canvas>
    </div>
</div>

<!-- Datos del gráfico -->
<div id="chartData" data-final-values="{{ final_values }}" data-frecuencies="{{ frecuencies }}" style="display: none;"></div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    let chartDataDiv = document.getElementById('chartData');
    
    let finalValues = JSON.parse(chartDataDiv.getAttribute('data-final-values'));
    let frecuencies = JSON.parse(chartDataDiv.getAttribute('data-frecuencies'));

    let minValue = Math.min(...finalValues);
    let maxValue = Math.max(...finalValues);
    let margin = (maxValue - minValue) * 0.05;

    minValue -= margin;
    maxValue += margin;

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: frecuencies,
            datasets: [{
                label: 'Final Values',
                data: finalValues,
                fill: false,
                borderColor: 'rgba(75, 192, 192, 1)',
                tension: 0.1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false,
                    min: minValue,
                    max: maxValue,
                    title: {
                        display: true,
                        text: 'f(z)'
                    }
                }
            },
            animation: {
                onComplete: function() {
                    // Función para ocultar el mensaje de carga, si aplica
                    function hideLoadingOverlay() {
    document.getElementById("loadingOverlay").style.display = "none";
}

                }
            }
        }
    });
});

</script>

<style>
    .chart-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        gap: 20px;
    }

    .chart-card {
        background: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 20px;
        margin-top: 50px;
        width: 640px; /* Ancho de la tarjeta */
    }

    .chart-title {
        text-align: center;
    }

    #myChart {
        width: 600px;
        height: 500px;
        display: block;
        margin: 0 auto;
    }
</style>

{% endblock %}
