<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Usuario</title>
    <link rel="stylesheet" href="../static/css/create_style.css">
</head>
<body>
    <div class="login-container">
        <div class="shape top-left"></div>
        <div class="back-button">
            <div class="back-arrow">&larr;</div>
        </div>
        <div class="login-box">
            <h1 class="welcome-title">Crear Usuario</h1>
            <input type="text" class="input-field" placeholder="Correo">
            <input type="password" class="input-field" placeholder="RUT">
            <button class="login-button">Crear Nuevo Usuario</button>
            <p class="create-account">
                Ya tienes una cuenta? <a href="#" class="create-link">Ingresar</a>
            </p>
        </div>
        <div class="shape bottom-right"></div>
        <img src="../static/img/Universidad-autonoma-de-chile.png" alt="Universidad Autónoma de Chile" class="top-right-image">
    </div>
    <footer class="footer">
        L.I.F.A. Laboratorio de Investigación de Física Aplicada
    </footer>
</body>
</html>
