<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <div class="login-container">
        <div class="shape top-left"></div>
        <div class="login-box">
            <h1 class="welcome-title">Bienvenido</h1>
            <input type="text" class="input-field" id="rut-input" placeholder="RUT">
            <input type="password" class="input-field" placeholder="Contraseña">
            <button class="login-button">Ingresar</button>
            <p class="create-account">
                ¿No tienes una cuenta? <a href="#" class="create-link">Crear Usuario</a>
            </p>
        </div>
        <div class="shape bottom-right"></div>
        <img src="../static/img/Universidad-autonoma-de-chile.png" alt="Universidad Autónoma de Chile" class="top-right-image">
    </div>
    <footer class="footer">
        L.I.F.A. Laboratorio de Investigación de Física Aplicada
    </footer>
    <script src="../static/js/script.js"></script>
</body>
</html>
