{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título por defecto{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_ua.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div style="background-color: #3C3834;">
            <img class="user-avatar user-avatar-collapsed" src="{% static '/img/images.png' %}"/>
            <img class="user-avatar2 user-avatar-expanded" src="{% static '/img/ua-fondo.png' %}"/>
        </div>
        <p style="margin-bottom: 40px;">L.I.F.A. Laboratorio de Investigación de Física Aplicada</p>
        <div style="text-align: center; margin-left: 23%;">
            <hr style="width: 70%; border-color: #FFFFF;  border-style: solid; background-color: white; margin-top: -30px;">
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        var logoutUrl = "{% url 'logout' %}";
    </script>    
    <script src="{% static 'js/script-logout.js' %}">
    </script>
</body>
</html>
