{% extends "base.html" %}

{% block title %}
Recuperación
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <h1 class="password-title">Cambiar Contraseña</h1>
        <form method="post" action="{% url 'change_password' %}">
            {% csrf_token %}
            <input type="password" class="input-field" name="new_password1" placeholder="Nueva Contraseña" required>
            <input type="password" class="input-field" name="new_password2" placeholder="Repetir Contraseña" required>
            <button type="submit" class="login-button">Confirmar</button>
        </form>
        {% if message %}
                <p class="error-message" style="margin-top: 20px;">{{ message }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
