{% extends "base.html" %}

{% block title %}
Datos
{% endblock %}

{% block content %}
<div class="create-container">
    <div class="back-button">
        <a href="{% url 'login' %}">
            <div class="back-arrow">&larr;</div>
        </a>
    </div>
    <div class="creates-box">
        <h1 class="user-title">Datos Usuario</h1>
        
        <input type="text" class="input-field" placeholder="Nombre">
        <input type="text" class="input-field" id="rut-input" placeholder="RUT">
        <input type="text" class="input-field" placeholder="Correo">
        <input type="password" class="input-field" placeholder="Contraseña">
        
        <button class="create-button">Crear Nuevo Usuario</button>

        <p class="create-account">
            Ya tienes una cuenta? <a href="{% url 'login' %}" class="button bg-danger">Ingresar</a>
        </p>
    </div>
</div>

{% endblock %}
