{% extends "base.html" %}

{% block title %}
Datos
{% endblock %}

{% block content %}
<div class="create-container">
    <div class="back-button">
        <a href="{% url 'login' %}">
            <div class="back-arrow">&larr;</div>
        </a>
    </div>
    <div class="creates-box">
        <h1 class="user-title">Datos Usuario</h1>
        
        <form method="post" action="{% url 'create_user_datos' %}">
            {% csrf_token %}
            <input type="text" class="input-field" name="nombre" placeholder="Nombre">
            <input type="text" class="input-field" value="{{ correo }}" name="correo" placeholder="Correo" readonly disabled>
            <input type="text" class="input-field" value="{{ rut }}" name="rut" id="rut" placeholder="RUT" readonly disabled>
            <input type="password" class="input-field" name="password" placeholder="Contraseña">
            <button type="submit" class="create-button">Crear Nuevo Usuario</button>
        </form>
        
        

        <p class="create-account">
            Ya tienes una cuenta? <a href="{% url 'login' %}" class="button bg-danger">Ingresar</a>
        </p>
    </div>
</div>

{% endblock %}
