{% load static %}





































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style_ua.css' %}">


</head>
<body>
    <div class="container">
        <h1>Editar Usuario</h1>
        <form method="post" id="editUserForm">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" value="{{ usuario.first_name }}" required>
                <div id="nombre-error" class="error" style="color: red; display: none;">El nombre no puede superar los 50 carácteres.</div>
            </div>
            <div class="form-group">
                <label for="username">Usuario:</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ usuario.username }}" required readonly>
            </div>
            <div class="form-group">
                <label for="email">Correo:</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ usuario.email }}" required>
            </div>
            <div class="form-group">
                <label for="contrasena">Contraseña:</label>
                <input type="password" class="form-control" id="contrasena" name="contrasena">
            </div>
            <div class="form-group">
                <label for="permissions">Permisos de Superusuario:</label>
                <select class="form-control" id="permissions" name="permissions">
                    <option value="superuser" {% if usuario.is_superuser %}selected{% endif %}>Sí, otorgar permisos de Superusuario</option>
                    <option value="member" {% if not usuario.is_staff and not usuario.is_superuser %}selected{% endif %}>No, quitar permisos de Superusuario</option>
                </select>
            </div>                     
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
            <button type="button" class="btn btn-secondary" onclick="volverAtras()">Volver</button>
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('nombre').addEventListener('input', function() {
                var nombre = this.value;
                var errorDiv = document.getElementById('nombre-error');
                if (nombre.length > 50) {
                    errorDiv.style.display = 'block';
                } else {
                    errorDiv.style.display = 'none';
                }
            });

            document.getElementById('editUserForm').addEventListener('submit', function(e) {
                var nombre = document.getElementById('nombre').value;
                if (nombre.length > 50) {
                    e.preventDefault(); 
                    document.getElementById('nombre-error').style.display = 'block';
                }
            });
        });

        function volverAtras() {
            window.history.back();
        }
    </script>
</body>
</html>
