{% extends "base.html" %}

{% block title %}
Restauración
{% endblock %}

{% block content %}
<div class="create-container">
    <div class="back-button">
        <a href="{% url 'login' %}">
            <div class="back-arrow">&larr;</div>
        </a>
    </div>
    <div class="login-container">
        <div class="login-box">
            <h1 class="password-title">Recuperar Contraseña</h1>
            
            <form method="post" action="{% url 'forgot_password' %}">
                {% csrf_token %}
                <input type="text" class="input-field" name="email" id="correo" placeholder="Correo">
                <button type="submit" class="login-button">Recuperar</button>
            </form>
        </div>
    </div>
{% endblock %}
