{% extends "base.html" %}

{% block title %}
Restauración
{% endblock %}

{% block content %}
<div class="create-container">
    <div class="back-button">
        <a href="{% url 'login' %}">
            <div class="back-arrow">&larr;</div>
        </a>
    </div>
    <div class="login-container">
        <div class="login-box">
            <h1 class="password-title">Recuperar Contraseña</h1>
            <input type="text" class="pinput-field" id="rut-input" placeholder="RUT">

            <a href="{% url 'change_password' %}">
                <button class="login-button">Recuperar</button>            
            </a>
        </div>
    </div>

{% endblock %}
