{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Panel de Administración</title>
    <link rel="stylesheet" href="{% static 'css/style_ua.css' %}">

</head>
<body>
    <button class="back-button" onclick="volverAInicio()">Volver a Inicio</button>

    <h1>Panel de Administración</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>RUT</th>
            <th>Correo Electrónico</th>
            <th>Es Superusuario</th>
            <th>Acciones</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.first_name }} {{ usuario.last_name }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.is_superuser|yesno:"Sí,No" }}</td>
            <td class="actions">
                <button class="edit-button" onclick="editarUsuario({{ usuario.id }})">Editar</button>
                <button class="delete-button" onclick="mostrarPopup({{ usuario.id }})">Eliminar</button>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="popup-container" id="popup">
        <div class="popup">
            <p>¿Estás seguro de que deseas eliminar este usuario?</p>
            <button class="popup-button" id="eliminar-usuario-yes">Sí</button>
            <button class="popup-button" onclick="ocultarPopup()">No</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function editarUsuario(usuarioId) {
            window.location.href = "{% url 'editar_usuario' 0 %}".replace(0, usuarioId);
        }
        function volverAInicio() {
            window.location.href = "/home";
        }
        function mostrarPopup(usuarioId) {
            document.getElementById("popup").style.display = "flex";
            $("#eliminar-usuario-yes").off('click').on('click', function() {
                $.ajax({
                    url: "{% url 'eliminar_usuario' 0 %}".replace(0, usuarioId),
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    success: function(response) {
                        if (response.result === "deleted") {
                            if (response.is_self) {
                                window.location.href = "{% url 'login' %}";
                            } else {
                                window.location.reload();
                            }
                        }
                    },
                    error: function(response) {
                        // X SEA CASO, AUNQUE NO CREO.
                    }
                });
            });
        }
    
        function ocultarPopup() {
            document.getElementById("popup").style.display = "none";
        }
    
        function volverAInicio() {
            window.location.href = "/home";
        }
    </script>
    
</body>
</html>