<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cargar Avatar</title>
</head>
<body>
    <h1>Cargar Avatar</h1>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form.non_field_errors }}
        
        <div class="fieldWrapper">
            {{ form.avatar.label_tag }}
            {{ form.avatar }}
            {{ form.avatar.errors }}
        </div>
        
        <p>Seleccione una imagen para su avatar.</p>
        
        <button type="submit">Cargar Avatar</button>
    </form>
    
    <a href="{% url 'perfil' %}">Volver al perfil</a>
</body>
</html>
