{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <h1 class="welcome-title">Bienvenido</h1>
        <form method="post">
            {% csrf_token %}
            <div>
                <input type="text" id="username" class="input-field" name="username" placeholder="Ingresa tu RUT">
            </div>
            <div>
                <input type="password" id="password" class="input-field" name="password" placeholder="Ingresa tu contraseña">
            </div>
            <button type="submit" class="login-button">Ingresar</button>
        </form>

        <p class="create-account">
            ¿No tienes una cuenta? <a href="{% url 'register' %}" class="button bg-danger">Crear Usuario</a>
        </p>
        <p class="forgot-password">
            <a href="{% url 'forgot_password' %}" class="button bg-danger">¿Olvidaste Tu Contraseña?</a>
        </p>
    </div>
</div>
{% endblock %}