{% extends "base.html" %}

{% block title %}
Inicio Sesión
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <h1 class="welcome-title">Bienvenido</h1>
        <form method="post">
            {% csrf_token %}
            <div>
                <input type="text" id="rut" class="input-field" value="{{ username }}" name="username" placeholder="Ingresa tu RUT" maxlength="12" required oninput="checkRut(this)">
            </div>
            <div>
                <input type="password" id="password" class="input-field" name="password" placeholder="Ingresa tu contraseña">
                {% if message %}
                    <p class="error-message" style="margin-top: 10px; margin-bottom: 10px; font-size: large;">{{ message }}</p>
                {% endif %}
            </div>
            <button type="submit" class="login-button">Ingresar</button>
            <script src="script.js"></script>
        </form>

        <p class="create-account">
            ¿No tienes una cuenta? <a href="{% url 'register' %}" class="button bg-danger">Crear Usuario</a>
        </p>
        <p class="forgot-password">
            <a href="{% url 'forgot_password' %}" class="button bg-danger">¿Olvidaste Tu Contraseña?</a>
        </p>
</div>

{% endblock %}