{% extends "base.html" %}
{% load static %}
{% block title %}
Crear Usuario
{% endblock %}

{% block content %}
<div class="create-container">
    <div class="back-button">
        <a href="{% url 'login' %}">
            <div class="back-arrow">&larr;</div>
        </a>
    </div>    
    <div class="create-box">
        <h1 class="user-title">Crear Usuario</h1>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <input type="text" class="input-field" name="correo" id="correo" placeholder="Correo" required oninput="checkEmail(this)">
            <input type="text" class="input-field" name="rut" id="rut" placeholder="RUT" maxlength="12" required oninput="checkRut(this)">
            <button type="submit" class="create-button">Crear Nuevo Usuario</button>
            
        </form>
        {% if message %}
                <p class="error-message" style="margin-top: 20px;">{{ message }}</p>
        {% endif %}
        <p class="create-account">
            Ya tienes una cuenta? <a href="{% url 'login' %}" class="button bg-danger">Ingresar</a>
        </p>
    </div>
</div>


{% endblock %}
