{% extends "base.html" %}

{% block title %}
Crear Usuario
{% endblock %}

{% block content %}
<div class="create-container">
    <div class="back-button">
        <a href="{% url 'login' %}">
            <div class="back-arrow">&larr;</div>
        </a>
    </div>
    <div class="create-box">
        <h1 class="user-title">Crear Usuario</h1>
        <input type="text" class="input-field" placeholder="Correo">
        <input type="text" class="input-field" id="rut-input" placeholder="RUT">

        <a href="{% url 'create_user_datos' %}">
            <button class="create-button">Crear Nuevo Usuario</button>
        </a>

        <p class="create-account">
            Ya tienes una cuenta? <a href="{% url 'login' %}" class="button bg-danger">Ingresar</a>
        </p>
    </div>
</div>


{% endblock %}
